spring:
  application:
    name: scripture-typer-backend

  datasource:
    url: jdbc:postgresql://localhost:10432/scripture_typer
    username: scripture
    password: scripture1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  data:
    redis:
      host: localhost
      port: 6379

  security:
    filter:
      order: 10

server:
  port: 8080

logging:
  level:
    com.scriptuotyper: DEBUG
    org.springframework.security: DEBUG
